/* Body */

body {
  background: hsl(240, 10%, 40%);
  margin: 0;
  padding: 0;

  color: hsl(240, 10%, 15%);
  border-color: hsl(240, 10%, 15%);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 99vw;
  height: 99vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* column class */
.column {
  background-color: hsl(240, 10%, 75%);
  margin: 0.1em;
  width: 12em;
  min-width: 12em;
  flex: none;
  height: 100%;
}

/* navigation column */
nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

nav.column {
  background-color: hsl(240, 10%, 40%);
}

.page {
  display: none;
}

.page:checked+label {
  background-color: hsl(240, 10%, 85%);
}

.page-label {
  padding: 0.5em;
  margin: 0;
  border-style: solid;
  border-width: thin;
  background-color: hsl(240, 10%, 75%);
  cursor: pointer;
}
.page:hover+label {
  background-color: hsl(240, 10%, 85%);
}

#error {
  padding: 0.5em;
  margin: 0;
  background-color: hsl(0, 60%, 85%);
  display: none;
}

/* Main area column */
#main-content {
  overflow: scroll;
  flex: auto;
}

main {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Timeline column */
#timeline-column {
  display: flex;
  flex-direction: column;
}

.timeline-prev-next {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#timeline-data {
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: auto;
}

section.timeline-activity {
  display: block;
  border-style: solid;
  border-width: thin;
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
}
section.timeline-activity:hover {
  background-color: hsl(240, 10%, 85%);
}

/* Other */
a:link {
  color: hsl(220, 100%, 40%);
  text-decoration: none;
}
a:visited {
  color: hsl(280, 100%, 40%);
  text-decoration: none;
}
a:hover {
  color: hsl(220, 100%, 90%);
  text-shadow: 2px 0px 1px hsl(220, 100%, 30%), -2px 0px 1px hsl(220, 100%, 30%), 0px 2px 1px hsl(220, 100%, 30%), 0px -2px 1px hsl(220, 100%, 30%),
  1px 1px 0px hsl(220, 100%, 30%), 1px -1px 0px hsl(220, 100%, 30%), -1px 1px 0px hsl(220, 100%, 30%), -1px -1px 0px hsl(220, 100%, 30%);
}

hr {
  border-style: solid;
  border-width: thin;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

h6 {
  padding: 0;
  margin: 0;
}

/* Page specific */
ul.recipient-list {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.actor-display {
  display: inline-block;
  border-style: solid;
  border-width: thin;
  padding: 0.1em;
  margin: 0;
  margin-left: 0.1em;
  margin-right: 0.1em;
  background-color: hsl(240, 10%, 85%);
}

p {
  margin: 0;
  padding: 0;
}

section.activity-object-content {
  background-color: hsl(240, 10%, 95%);
  padding: 0.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#profile-display-name {
  font-size: xx-large;
}

.code-source {
  background-color: hsl(240, 10%, 95%);
  font-family: monospace;
  padding: 0.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

section.actor-content {
  background-color: hsl(240, 10%, 95%);
  padding: 0.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
