/* Body */

body {
  background: hsl(240, 10%, 40%);
  margin-left: 1.5%;
  margin-right: 1.5%;

  color: hsl(240, 10%, 15%);
  border-color: hsl(240, 10%, 15%);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.page {
  display: none;
}

.page:checked+label {
  background-color: hsl(240, 10%, 85%);
}

.page-label {
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: thin;
  background-color: hsl(240, 10%, 65%);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.error {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 40%, 85%);
  border-style: solid;
  border-width: thin;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Main */
h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

h6 {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
  background-color: hsl(240, 10%, 85%);
  border-style: solid;
  border-width: thin;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.timeline {
  padding: 0;
  margin: 0;
  background-color: hsl(240, 10%, 85%);
  border-style: solid;
  border-width: thin;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

/* Other */
a:link {
  color: hsl(220, 100%, 40%);
  text-decoration: none;
}
a:visited {
  color: hsl(280, 100%, 40%);
  text-decoration: none;
}
a:hover {
  color: hsl(220, 100%, 90%);
  text-shadow: 2px 0px 1px hsl(220, 100%, 30%), -2px 0px 1px hsl(220, 100%, 30%), 0px 2px 1px hsl(220, 100%, 30%), 0px -2px 1px hsl(220, 100%, 30%),
  1px 1px 0px hsl(220, 100%, 30%), 1px -1px 0px hsl(220, 100%, 30%), -1px 1px 0px hsl(220, 100%, 30%), -1px -1px 0px hsl(220, 100%, 30%);
}

hr {
  border-style: solid;
  border-width: thin;
}

/* Page specific */
ul.recipient-list {
  padding: 0;
  margin: 0;
  display: inline-block;
}

li.actor-display {
  display: inline-block;
  border-style: solid;
  border-width: thin;
  padding: 0.1em;
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: hsl(240, 10%, 75%);
}

article.activity {
  display: block;
  border-style: solid;
  border-width: thin;
  margin: 0;
  padding: 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

section.actor-display {
  display: inline-block;
  margin: 0;
  padding: 0.1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: hsl(240, 10%, 75%);
}

p {
  margin: 0;
  padding: 0;
}

section.activity-object-field:after {
  content: "";
  display: block;
  border-style: dotted;
  border-width: thin;
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

section.activity-object-content {
  background-color: hsl(240, 10%, 95%);
}

#profile-display-name {
  font-size: xx-large;
}
